player-connection-mode=Listen
player-connection-guid=2523542604
player-connection-debug=1
player-connection-wait-timeout=-1
player-connection-ip=192.168.113.17
player-connection-ip=10.0.75.1
player-connection-ip=172.22.192.1
player-connection-ip=192.168.56.1
player-connection-ip=192.168.199.204
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
wait-for-managed-debugger=0
scripting-runtime-version=latest
vr-enabled=0
hdr-display-enabled=0
